<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title id="titleHead"></title>
</head>
<body>
    <div>
        <div><a href="/">Классификация текста</a></div>
        <div><a href="/collection">Коллекция текстов</a></div>
        <div><a href="/add-article">Добавить текст</a></div>
    </div>

    <div id="articleContent">
        <div><h1>Изменить статью</h1></div>

        <div>
            <div>
                <p>Заголовок:</p>
                <p id="titleErrorMsg"></p>
                <input type="text" id="title"/>
            </div>
            <div>
                <p>Категория:</p>
                <select id="category">
                    <option>наука</option>
                    <option>гаджеты</option>
                    <option>роботы</option>
                    <option>техника</option>
                    <option>космос</option>
                </select>
            </div>
            <div>
                <p>Дата публикации:</p>
                <p id="dateErrorMsg"></p>
                <input type="text" id="date" placeholder="yyyy-mm-dd"/>
            </div>
            <div>
                <p>Текст:</p>
                <p id="textErrorMsg"></p>
                <textarea id="text" cols="100" rows="20"></textarea>
            </div>
            <div><button onclick="updateArticle()">Изменить</button></div>
            <div><p id="updateResultMsg"></p></div>
            <div><p id="updateErrorMsg"></p></div>
        </div>
    </div>
    <div><img hidden src="/static/media/preloader.gif" id="preloader" height="40" width="40"/></div>

    <script src="/static/js/validation.js"></script>
    <script src="/static/js/article.js"></script>
    <script src="/static/js/updateArticle.js"></script>
    <script defer>
        showArticleContentForUpdate();
    </script>
</body>
</html>